@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/> <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
    <title>@ViewData["Title"] - Routine Explorer</title> 
    <link rel="icon" href="https://bitsofco.de/favicon.png" type="image/gif" sizes="16x16"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Product+Sans:400&amp;lang=en" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Google+Sans:400,500&amp;lang=en" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="~/app/lib/stylesheets/materialize.css"> 
        <link rel="stylesheet" href="~/app/src/stylesheets/__initialize__.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/app/lib/stylesheets/materialize.min.css"> 
        <link rel="stylesheet" href="~/app/src/stylesheets/__initialize__.min.css">
    </environment>
    <link rel="stylesheet" href="~/css/layout.css"/>
</head>
<body class="base-dark-32">
<header>
    <nav class="nav-extended nav-fixed blueish-dark white-text">
        <div class="nav-wrapper">
            <a class="brand-logo white-text" id="page-logo" asp-action="Index" asp-controller="Home"> <i class="material-icons blue-text text-darken-1" id="page-logo-icon">brightness_7</i> &nbsp; RE </a>
            <a href="#" class="sidenav-trigger" data-target="mobile-nav">
                <i class="material-icons white-text">menu</i> 
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a target="_blank" class="white-text" href="/api/docs"> <i class="fas fa-code-branch left yellow-text text-darken-2"></i> API </a>
                </li>
                <li>
                    <a target="_blank" class="white-text" href="https://github.com/shunjid/routine-explorer"><i class="fab fa-github"></i> GitHub</a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li>
                        <a target="_blank" class="white-text" asp-action="DismissCredential" asp-controller="Credential">
                            <i class="fas fa-power-off blue-text text-darken-1 left"></i>LogOut
                        </a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <ul class="sidenav blue-grey darken-3 yellow-text text-darken-3" id="mobile-nav">
        <li>
            <a target="_blank" class="title white-text" href="/api/docs"> <i class="material-icons green-text text-darken-1">code</i> API </a>
        </li>
        <li>
            <a target="_blank" class="title white-text" href="https://github.com/shunjid/routine-explorer"> <i class="fab fa-github white-text"></i> GitHub </a>
        </li>
        @if (SignInManager.IsSignedIn(User))
        {
            <li>
                <a target="_blank" class="white-text" asp-action="DismissCredential" asp-controller="Credential">
                    <i class="fas fa-power-off blue-text text-darken-1 left"></i>LogOut
                </a>
            </li>
        }
    </ul>
</header>
<div id="load" class="progress light-blue lighten-4">
    <div class="indeterminate blue darken-1"></div>
</div>
<div id="contents"> @RenderBody() </div>
<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script> <script src="~/app/lib/scripts/materialize.js"></script> <script src="~/app/src/scripts/__initialize___.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/lib/jquery/dist/jquery.min.js"></script> <script src="~/app/lib/scripts/materialize.min.js"></script> <script src="~/app/src/scripts/__initialize___.min.js"></script>
</environment>
@RenderSection("Scripts", required: false)
</body>
</html>