<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Routine Explorer</title>

    <!-- Fonts & Icons Required To Enhance The Look -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Product+Sans:400&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Google+Sans:400,500&amp;lang=en" rel="stylesheet">

    <!-- Stylesheets that are going to work in Development Environment -->
    <environment include="Development">
        <link rel="stylesheet" href="~/app/lib/stylesheets/materialize.css">
        <link rel="stylesheet" href="~/app/src/stylesheets/__initialize__.css">
    </environment>

    <!-- Stylesheets that are going to work in Non-Development Environment -->
    <environment exclude="Development">
        <link rel="stylesheet" href="~/app/lib/stylesheets/materialize.min.css">
        <link rel="stylesheet" href="~/app/src/stylesheets/__initialize__.css">
    </environment>
</head>

<body>
<header>
    <nav class="nav-extended nav-fixed white">
        <div class="nav-wrapper">
            <a class="brand-logo grey-text text-darken-3" id="page-logo">
                <i class="material-icons teal-text text-darken-1" id="page-logo-icon">brightness_7</i> &nbsp; RE
            </a>
            <a href="#" class="sidenav-trigger" data-target="mobile-nav">
                <i class="material-icons grey-text text-darken-4">menu</i>
            </a>
        </div>
    </nav>
    <ul class="sidenav yellow-text text-darken-3" id="mobile-nav">
        <li>
            <a target="_blank" class="title" href="https://github.com/e-Luminous/ui">
                <i class="fab fa-github grey-text"></i> GitHub
            </a>
        </li>
    </ul>
</header>

<div id="load" class="progress light-teal lighten-3">
    <div class="indeterminate teal"></div>
</div>

<div id="contents">
    @RenderBody()
</div>

<!-- Scripts that are going to work in Development Environment -->
<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/app/lib/scripts/materialize.js"></script>
    <script src="~/app/src/scripts/__initialize___.js"></script>
</environment>

<!-- Scripts that are going to work in Non-Development Environment -->
<environment exclude="Development">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/app/lib/scripts/materialize.min.js"></script>
    <script src="~/app/src/scripts/__initialize___.js"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>