@model routine_explorer.Models.Feedback

@{
    ViewData["Title"] = "Create";
}

<h6>If you have any suggestion/query/feature request, you can inform me through this.</h6>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRating" class="control-label"></label>
                <input asp-for="UserRating" class="form-control" />
                <span asp-validation-for="UserRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suggestion" class="control-label"></label>
                <input asp-for="Suggestion" class="form-control" />
                <span asp-validation-for="Suggestion" class="text-danger"></span>
            </div>
            <div class="col-md-12 text-center">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
