@model routine_explorer.Models.Routine

@{
    ViewData["Title"] = "Create";
}
<h4>Upload Routine File</h4><div class="row"> <div class="col-md-12"> <fieldset style="margin-top: 15px"> <form method="post" asp-action="FileUpload" asp-controller="Routines" enctype="multipart/form-data"> <div class="file-field input-field"> <div class="btn blue darken-3"> <span>File</span> <input type="file" name="file" onchange="ValidateSingleInput(this)"/> </div><div class="file-path-wrapper"> <input class="file-path validate" type="text"> </div></div><p class="center-align"> <input class="btn btn-small pink darken-3" type="submit" value="Upload"/> </p></form> </fieldset> </div></div><div> <a asp-action="Index">Back to List</a></div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    await Html.RenderPartialAsync("_ValidateFileExtension");
    }
}
