@model CookieSetter
@{
    Layout = "_Layout";
    ViewData["Title"] = "OAuth";
}

<div class="container">
    <div class="col s12 m7">
        <h5>Authorize your credentials</h5>
        <div class="card horizontal">
            <div class="card-image">
                <img src="~/images/credential.svg" alt="credential svg">
            </div>
            <div class="card-stacked">
                <form id="SignInForm">
                    <div class="card-content">
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="x@@diu.edu.bd" required aria-required="true" asp-for="CredentialEmail" class="validate">
                                <label asp-for="CredentialEmail">Your DIU Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input required aria-required="true" asp-for="CredentialKey" class="validate">
                                <label asp-for="CredentialKey">Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="btn blue darken-1" id="SignInSubmit">Authorize</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_SignInSanitizer"); }
}